
:root {
/* CSS HEX */
--sky-blue: #72C9E7ff;
--yinmn-blue: #214F90ff;
--pale-purple: #E8D2E5ff;
--russian-violet: #28163Eff;
--quinacridone-magenta: #823561ff;
}
*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body { margin: 0; font-family: Arial, sans-serif; background-color: var(--pale-purple); }
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1024px;
    min-height: 1024px;
    margin: auto;
    background-image: url('../images/backfocus.jpeg'); /* Reemplaza 'tu-imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
  }
  .img-girl{
    position:absolute;
    right: 6px;
    width: 244px;
    animation:  changePositionGirl 6s;
    top: 215px;
  }

  @keyframes changePositionGirl{
    0% { right: 6px; }
    50% { right: 200px; }
    100% { right: 6px }
  }

  .img-boy{
    position:absolute;
    left: 3px;
    width: 244px;
    top: 201px;
    animation:  changePositionBoy 6s;
  }

  @keyframes changePositionBoy{
    0% { left: 3px; }
    50% { left: 250px;}
    100% { left: 3px }
  }
  .content{
    margin-top: 50px;
    animation: changeOpacity 6s;
  }

  @keyframes changeOpacity {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  .countdown { /* Estilos para tu cuenta atrás */
    text-align: center;
    margin-bottom: 90px;
    border: 5px double var(--russian-violet);
    min-width: 400px;
    font-size: 1.2em;
    color: rgb(238, 0, 255);
    background-color: rgba(255,255,255,0.3);
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: var(--sky-blue) 2px 3px 5px;
    padding: 0px 5px;
  }
  
  /* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Posición fija para que esté superpuesto al contenido */
    z-index: 1; /* Situar el modal por encima del resto del contenido */
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.9); /* Fondo oscuro semitransparente */
  }

  .modalbutton { /* Estilos para el botón que abrirá el modal */
    display: block;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    background-color: var(--sky-blue);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.5rem;
    transition: all 0.4s ease;
    margin-bottom: 150px;
    text-transform: uppercase;
  }
  .modalbutton:hover{
    background-color: var(--pale-purple);
    color: var(--quinacridone-magenta);
  }
  
  /* Estilos para el contenido del modal */
  .modal-content {
    background-color: rgba(255,255,255,0.7);
    margin: 50px auto; /* Centrar verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 700px; /* Anchura del modal */
    border: 3px solid #aaa;
    border-radius: 12px;
    height: 400px;
    overflow: scroll;
    
  }

  .info-party{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .info-party p{
    color: var(--yinmn-blue);
    font-size: 1rem;
  }
  .info-party p>span{
    color: var(--russian-violet);
    font-weight: bolder;
  }
  
  /* Estilos para el botón de cierre (x) */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .survey { /* Estilos para tu encuesta */
    text-align: center;
  }
  .survey h1{
    margin-bottom: 20px;
    color: white;
  }
  .btn-gender-boy{
    background-color: var(--yinmn-blue);
    color: white;
    font-size: 1rem;
    border: 3px solid white;
    border-radius: 12px;
    padding: 2px 15px;
    cursor: pointer;
  }
  .btn-gender-girl{
    background-color: var(--quinacridone-magenta);
    color: white;
    font-size: 1em;
    border: 3px solid white;
    border-radius: 12px;
    padding: 2px 15px;
    cursor: pointer;
    margin-left: 100px;
  }

  .numero{
    display: inline-block;
    color: var(--russian-violet);
    font-size: 4em;
    font-weight: bolder;
    text-decoration:overline var(--russian-violet)
  }

  /* Estilos para la lista desordenada principal */
ul {
    list-style: none; /* Eliminar los puntos de viñeta */
    padding-left: 0; /* Eliminar el espacio de relleno predeterminado */
    margin-left: 5px;
  }
  
  /* Estilos para los elementos de lista */
  li {
    margin-bottom: 10px; /* Espacio entre elementos de lista */
  }
  
  /* Estilos para las sublistas */
  ul ul {
    margin-top: 5px; /* Espacio entre sublistas */
  }
  
  /* Estilos para los elementos de lista de las sublistas */
  ul ul li {
    margin-left: 20px; /* Indentación de la sublista */
    color: var(--quinacridone-magenta);
  }
  
  /* Estilos para los spans dentro de los elementos de lista */
  li span {
    font-weight: bold; /* Hacer el texto en negrita */
  }
  
  /* Estilos adicionales para mejorar la apariencia */
  ul, li {
    font-size: 1em; /* Tamaño de fuente */
    color: var(--yinmn-blue); /* Color de texto */
    font-weight: bolder;
  }

  #votosCount{
    margin-top: 30px;
  }
  #votosCount h1{
    font-size: 1.3em;
    text-align: center;
    color: white;
    margin-bottom: 12px;
  }
  
  /* Estilo base para el elemento <progress> */
progress {
  /* Establece el ancho del elemento */
  width: 100%;
  /* Establece la altura del elemento */
  height: 30px; /* Puedes ajustar esta altura según sea necesario */
  /* Establece el color del fondo detrás de la barra de progreso */
  background-color: lightpink;
  /* Redondea los bordes del elemento */
  border-radius: 5px;
  margin-left: 19px;
}

.address{
  margin-bottom: 10px;
  border: 3px dotted var(--russian-violet);
  padding: 4px;
}

h2{
  margin-bottom: 10px;
}

/* Estilo para la barra de progreso */
progress::-webkit-progress-bar {
  /* Establece el color de fondo de la barra de progreso */
  background-color: lightpink;
  /* Redondea los bordes de la barra de progreso */
  border-radius: 5px;
}

/* Estilo para la barra de progreso en sí */
progress::-webkit-progress-value {
  /* Establece el color de la barra de progreso */
  background-color: var(--sky-blue); /* Puedes ajustar este color según sea necesario */
  /* Redondea los bordes de la barra de progreso */
  border-radius: 5px;
}

  @media (max-width: 600px) {
    /* Estilos para pantallas con un ancho máximo de 600px */
    .container{
      max-width: 100%;
      min-height: 500px;
      overflow: hidden;
      margin: 0;
    }
    .modal-content{
      width: 100%;
    }
    .img-girl{
      width:120px;
      right:-8px;
      top: 77px
    }

    .img-boy{
      width: 120px;
      left: -1px;
      top: 77px;
    }

    .countdown{
      width: 220px;
      margin-left: 23px
    }

    .numero{
    font-size: 2rem;
    }

    .survey h1{
      font-size: 1.4em;
    }
    .btn-gender-boy, .btn-gender-girl{
      font-size: 0.8em;
    }
    .btn-gender-girl{
      margin-left: 40px;
    }
    .modalbutton{
      font-size: 1.5em;
      margin-bottom: 170px;
    }
}

@media (max-width: 750px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  .container{
    max-width: 100%;
    min-height: 500px;
    overflow: hidden;
    margin: 0;
  }
  .modal-content{
    width: 100%;
  }
  .img-girl{
    width:120px;
    right:-8px;
    top: 125px
  }

  .img-boy{
    width: 120px;
    left: -1px;
    top: 120px;
  }

  .countdown{
    width: 220px;
    margin-left: 23px
  }

  .numero{
  font-size: 2rem;
  }

  .survey h1{
    font-size: 1.4em;
  }
  .btn-gender-boy, .btn-gender-girl{
    font-size: 0.8em;
  }
  .btn-gender-girl{
    margin-left: 40px;
  }
  .modalbutton{
    font-size: 1.5em;
    margin-bottom: 170px;
  }

  @keyframes changePositionGirl{
    0% { right: 6px; }
    50% { right: 150px; }
    100% { right: -8px }
  }

  @keyframes changePositionBoy{
    0% { left: 3px; }
    50% { left: 170px;}
    100% { left: -1px }
  }
}

@media (max-width: 400px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  .container{
    max-width: 100%;
    min-height: 500px;
    overflow: hidden;
    margin: 0;
  }
  .modal-content{
    width: 100%;
  }
  .img-girl{
    width:120px;
    right:-8px;
    top: 174px
  }

  .img-boy{
    width: 120px;
    left: -1px;
    top: 169px;
  }

  @keyframes changePositionGirl{
    0% { right: 6px; }
    50% { right: 60px; }
    100% { right: -8px }
  }

  @keyframes changePositionBoy{
    0% { left: 3px; }
    50% { left: 80px;}
    100% { left: -1px }
  }
  .countdown{
    width: 220px;
    margin-left: 23px
  }

  .numero{
  font-size: 2rem;
  }

  .survey h1{
    font-size: 1em;
  }
  .btn-gender-boy, .btn-gender-girl{
    font-size: 0.8em;
  }
  .btn-gender-girl{
    margin-left: 40px;
  }
  .modalbutton{
    font-size: 1em;
    margin-bottom: 30px;
  }
}